@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-image: linear-gradient(to right, #1D1234, #610E80);
}
.header nav{
    display: flex;
    width: 8%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto 10px auto 10px;
}
.header nav a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.cart{
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.cart .cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart .cart-button span{
    position: absolute;
    user-select: none;
}
.cart .cart-button:hover{
    cursor: pointer;
}
.cart-box{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none !important;
}
.show_dropdown{
    display: block !important;
    position: absolute;
    top: 50px;
    height: 500px !important;
    width: 350px !important;
    border: 1px solid black;
    background-color: white;
    z-index: 1;
    overflow-y: auto;
}
.show_dropdown .buttons{
    margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.cart-box{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 30% 25% 15% 25%;
}
.cart-box img{
    height: 50px;
    width: 70px;
}



.searchdiv{
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}
.searchdiv input{
    width: 430px;
    height: 52px;
    background: #FFFFFF66 0% 0% no-repeat padding-box;
    border: 1px solid #00ACD4;
    border-radius: 12px;
    opacity: 1;
    padding-left: 20px;
    margin-right: 20px;
    outline: none;
}
.searchdiv .kategorije{
    width: 313px;
    height: 52px;
    background: #F5F6FA 0% 0% no-repeat padding-box;
    border: 1px solid #D2D2D2;
    border-radius: 12px;
    opacity: 1;
    padding-left: 20px;
    margin-right: 20px;
}
.searchdiv .stanje{
    height: 52px;
    width: 313px;
    background: #F5F6FA 0% 0% no-repeat padding-box;
    border: 1px solid #D2D2D2;
    border-radius: 12px;
    opacity: 1;
    padding-left: 20px;
}

.sortby{
    width: 90%;
    height: 50px;
    margin-left: 3%;
    display: flex;
    justify-content: flex-end;
}

.sortby button{
    border: none;
    background-color: white;
}
.sortby button:hover{
    cursor: pointer;
    text-decoration: underline;
}



.artikli{
    height: auto;
    display: grid;
    margin-left: 3%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 2%;
    padding-bottom: 100px;
}
.artikal{
    height: 100%;
    width: auto;
    display: flex;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
}

.artikal:hover{
    transition: 0.4s ease;
    border-color: #FE7F54;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.artikal .slika{
    height: 100%;
    width: 100%;
    background-size: cover;
}

.artikal .slika img{
    border-radius: 12px 0px 0px 12px;
}

.artikal .opis{
    width: 100%;
    margin-left: 30px;
}

.artikal .opis h2{
    margin-top: 20px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
}

.artikal .opis p{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}

.artikal .opis button{
    width: 100%;
    margin-bottom: 10px;
}
.artikal .opis button:hover{
    cursor: pointer;
}

.searchbtn{
    font-weight: 600;
    color: white;
    height: 53px;
    width: 300px;
    margin-left: 3%;
    border-radius: 12px;
    outline: none;
    border: 0px solid;
    background-image: linear-gradient(to right, #fe7f54, #ffac4a);

}
.modal-slika{
    width: 40%;
}
.header_artikla{
    display: flex;
    width: 100%;
}
.o_artiklu{
    margin-left: 50px;
    width: 60%;
}
.dodatne_kategorije{
    display: grid;
    grid-template-columns: 35% 30% 30%;
}
.dodatne_kategorije div p{
    font-weight: bold;
}

.artikal_opis{
    height: 300px;
}

#naziv_trgovine{
    font-weight: bold;
    text-decoration: underline;
}
#naziv_trgovine:hover{
    cursor: pointer;
}
#artikal_kolicina{
    padding-left: 20px;
}
.kolicina_usera p{
    display: flex;
    justify-content: center;
;
}
.kolicina_usera div{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
}
.kolicina_usera span:hover{
    cursor: pointer;
}